* {
  font-family: serif;
}

.main-container {
  width: 40%;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #000;
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.container-header-root {
  padding: 20px;
  padding-top: 0px;
}

.container-header {
  display: block;
  margin-bottom: 1em;
}

.container-header-pelanggan {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
}

.container-header-input {
  display: inline-block;
}

.container-content {
  display: block;
  margin-bottom: 1em;
}

.container-content-header {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  font-size: 16px;
}

.container-content-form {
  display: inline-block;
}

.button {
  background: white;
  border-radius: 20px;
}

.button-a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1000px) {
    #main-container {
      width: 100%;
      margin-top: 10px;
      border: 1px solid #000;
      border-radius: 20px;
    }
    h1 {
      font-size: 1em;
    }
    .container-header-root {
      padding: 10px;
      padding-top: 0px;
    }
    .container-header-pelanggan {
      display: inline-block;
      width: 150px;
      font-weight: bold;
      font-size: 13px;
    }
    .container-header-input {
      display: inline-block;
      width: 75%;
    }
    .container-content-header {
      display: inline-block;
      width: 150px;
      font-weight: bold;
      font-size: 13px;
    }
    .container-content-form input{
      width: 10px
    }
    .container-content-form label{
      font-size: 14px
    }
    .button-a {
      text-decoration: none;
      color: black;
      font-size: 13px
    }
 }